# Using a regression neural network to predict housing prices in Hyderabad

In [60]:
import numpy as np
import pandas as pd
from tensorflow import keras
np.random.seed(0)

### Loading and preprocessing the dataset

In [61]:
housing = pd.read_csv('Hyderabad.csv')
housing

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,6968000,1340,Nizampet,2,0,0,1,1,1,1,...,1,0,1,0,0,0,0,0,0,0
1,29000000,3498,Hitech City,4,0,0,1,1,1,1,...,1,0,1,0,0,0,0,0,0,0
2,6590000,1318,Manikonda,2,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5739000,1295,Alwal,3,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,5679000,1145,Kukatpally,2,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2513,11000000,1460,Nacharam,2,1,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
2514,26000000,1314,Manikonda,2,1,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
2515,13300000,2625,Madhapur,3,1,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
2516,10800000,2050,Hitech City,3,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
2517,10400000,1805,Narsingi,3,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9

In [62]:
features = housing.drop(['Location', 'Price'], axis=1)
features

,Area,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,RainWaterHarvesting,IndoorGames,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,1340,2,0,0,1,1,1,1,1,1,...,1,0,1,0,0,0,0,0,0,0
1,3498,4,0,0,1,1,1,1,1,1,...,1,0,1,0,0,0,0,0,0,0
2,1318,2,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,1295,3,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,1145,2,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2513,1460,2,1,9,9,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
2514,1314,2,1,9,9,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
2515,2625,3,1,9,9,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
2516,2050,3,0,9,9,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
2517,1805,3,0,9,9,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9

In [63]:
labels = housing['Price']
labels

0        6968000
1       29000000
2        6590000
3        5739000
4        5679000
          ...
2513    11000000
2514    26000000
2515    13300000
2516    10800000
2517    10400000
Name: Price, Length: 2518, dtype: int64

### Building and training the neural network

In [64]:
# Imports
#import numpy as np
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
#from tensorflow.keras.layers import Dense, Dropout, Activation
#from tensorflow.keras.optimizers import SGD

# Building the model
model = Sequential()
model.add(Dense(38, activation='relu', input_shape=(38,)))
model.add(Dropout(.2))
model.add(Dense(128, activation='relu'))
model.add(Dropout(.2))
model.add(Dense(64, activation='relu'))
model.add(Dropout(.2))
model.add(Dense(1))

# Compiling the model
model.compile(loss = 'mean_squared_error', optimizer='adam', metrics=[keras.metrics.RootMeanSquaredError()])
model.summary()

Model: "sequential_18"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_59 (Dense)             (None, 38)                1482
_________________________________________________________________
dropout_41 (Dropout)         (None, 38)                0
_________________________________________________________________
dense_60 (Dense)             (None, 128)               4992
_________________________________________________________________
dropout_42 (Dropout)         (None, 128)               0
_________________________________________________________________
dense_61 (Dense)             (None, 64)                8256
_________________________________________________________________
dropout_43 (Dropout)         (None, 64)                0
_________________________________________________________________
dense_62 (Dense)             (None, 1)                 65
=================================================================
Total params: 14,795
Trainable params: 14,795
Non-trainable params: 0
_________________________________________________________________

In [65]:
model.fit(features, labels, epochs=10, batch_size=10)

Epoch 1/10
252/252 [==============================] - 1s 2ms/step - loss: 153898845208576.0000 - root_mean_squared_error: 12405597.0000
Epoch 2/10
252/252 [==============================] - 1s 3ms/step - loss: 41238615031808.0000 - root_mean_squared_error: 6421730.0000
Epoch 3/10
252/252 [==============================] - 1s 2ms/step - loss: 34584915869696.0000 - root_mean_squared_error: 5880894.0000
Epoch 4/10
252/252 [==============================] - 1s 3ms/step - loss: 34177380515840.0000 - root_mean_squared_error: 5846142.5000
Epoch 5/10
252/252 [==============================] - 1s 3ms/step - loss: 32760523653120.0000 - root_mean_squared_error: 5723681.0000
Epoch 6/10
252/252 [==============================] - 1s 2ms/step - loss: 33691583643648.0000 - root_mean_squared_error: 5804445.0000
Epoch 7/10
252/252 [==============================] - 0s 2ms/step - loss: 32995222224896.0000 - root_mean_squared_error: 5744147.0000
Epoch 8/10
252/252 [==============================] - 0s 2ms/step - loss: 34509294665728.0000 - root_mean_squared_error: 5874461.0000
Epoch 9/10
252/252 [==============================] - 0s 2ms/step - loss: 34927391277056.0000 - root_mean_squared_error: 5909940.0000
Epoch 10/10
252/252 [==============================] - 1s 2ms/step - loss: 34060946636800.0000 - root_mean_squared_error: 5836175.5000

### Evaluating the model and making predictions

In [66]:
model.evaluate(features, labels)

79/79 [==============================] - 0s 2ms/step - loss: 30918603440128.0000 - root_mean_squared_error: 5560450.0000

[30918603440128.0, 5560450.0]

In [67]:
model.predict(features)

array([[ 8475314.],
       [22114576.],
       [ 8329601.],
       ...,
       [16513171.],
       [12872550.],
       [11324087.]], dtype=float32)

In [68]:
labels

0        6968000
1       29000000
2        6590000
3        5739000
4        5679000
          ...
2513    11000000
2514    26000000
2515    13300000
2516    10800000
2517    10400000
Name: Price, Length: 2518, dtype: int64